*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #151719;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    font-size: 60px;
}
.container span{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    animation: wave 1s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes wave{
    0%, 40%, 100%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-20px);
    }
}