@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}
.wrapper{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
input{
    display: none;
}
.card{
    width: 80px;
    background: url(./Assets/img1.jpg);
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
}
.card.two{
    background: url(./Assets/img2.jpg);
}
.card.three{
    background: url(./Assets/img3.jpg);
}
.card.four{
    background: url(./Assets/img4.jpg);
}
input:checked + .card{
    width: 500px;
    border-radius: 0.75rem;
}
.card .content{
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
}
.card .content .num{
    width: 50px;
    background: #222233;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 15px;
}
.card .content .desc{
    height: 80px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
}
input:checked + label .desc{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.desc h4{
    text-transform: uppercase;
}
.desc p{
    color: #b0b0b0;
    display: flex;
    justify-content: space-between;
}
.desc p span{
    cursor: pointer;
    font-family: 600;
    color: #4070f4;
    transition: 0.5s;
}
.desc p span:hover{
    opacity: 0.8;
}